<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #54B4D3;">
    <div class="container-fluid">
      <a style="color: azure;" class="navbar-brand" href="#"> Desbravador</a>
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="cadastro">
            <a style="color: azure;" class="nav-link active" aria-current="page" href="admin/pessoas"> <i class="fa-solid fa-user"></i> Pessoas</a>
            <a style="color: azure;"  class="nav-link" href="admin/projetos"> <i class="fa-solid fa-book"></i> Projetos</a>
            <a style="color: azure;" class="nav-link" href="admin/membros"> <i class="fas fa-user-group"></i> Membros</a>
          </div>
        </div>
      </div>
      <div class="alinharDireita">
        <a style="color: azure;" class="nav-link" href="login"> Sair <i class="fa-solid fa-right-from-bracket"></i></a>
      </div>
    </div>
  </nav>