<div class="container">
    <h3 style="color: #54b4d3">CADASTRO DE PESSOAS</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                Nome
                <input type="text" name="nome" class="form-control" (keyup.enter)="save()" [(ngModel)]="pessoa.nome" />

                Data de nascimento
                <input type="text" name="nome" class="form-control" (keyup.enter)="save()" [(ngModel)]="pessoa.datanascimento" />

                CPF
                <input type="text" name="nome" class="form-control" (keyup.enter)="save()" [(ngModel)]="pessoa.cpf" />

                <!-- Funcionário Checkbox -->
<div class="form-check">
    <input 
        class="form-check-input" 
        type="checkbox" 
        id="flexCheckFuncionario"
        [(ngModel)]="pessoa.funcionario" 
        (change)="toggleCheckbox('funcionario')" 
        [disabled]="pessoa.gerente" 
    />
    <label class="form-check-label" for="flexCheckFuncionario">Funcionário</label>
</div>

<!-- Gerente Checkbox -->
<div class="form-check">
    <input 
        class="form-check-input" 
        type="checkbox" 
        id="flexCheckGerente"
        [(ngModel)]="pessoa.gerente" 
        (change)="toggleCheckbox('gerente')" 
        [disabled]="pessoa.funcionario" 
    />
    <label class="form-check-label" for="flexCheckGerente">Gerente</label>
</div>

                <button type="button" class="btn btn-info btn-rounded" (keyup.enter)="save()" data-mdb-ripple-init
                    (click)="save()">
                    <i class="fa-solid fa-floppy-disk"></i>
                    Salvar
                </button>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>